[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
velo-plotly = {editable = true,path = "C:/Users/Sladkov/Documents/private/projects/velo-plotly"}
stravaio = {editable = true,path = "C:/Users/Sladkov/Documents/private/projects/stravaio"}

[packages]
pandas = "*"
jupyter = "*"
plotly = "*"
plotly-express = "*"

[requires]
python_version = "3.7"
