[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
pandas = "*"
jupyterlab = "*"
matplotlib = "*"
plotly = "*"
maya = "*"
scipy = "*"
ipywidgets = "*"
bonobo = "*"
goldencheetah-opendata = "*"
plotly-express = "*"
python-dotenv = "*"
ruptures = "*"
loguru = "*"
cycling-analytics = {editable = true,path = "."}
sweat = "*"
stravaio = "*"
